/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;

*/
.header {
  background: #27273e;
}

.contacts__phone {
  font-weight: bold;
  font-size: 21px;
  color: #ffffff;
  text-decoration: none;
}

.contacts__phone:hover {
  text-decoration: none;
}

.contacts__dropdown {
  color: #2b2b2b;
  font-size: 14px;
  font-weight: bold;
}

.breadcrumps, .team {
  list-style: none;
}

breadcrums_link {
  color: #492b3a;
}

.breadcrumps__item:last-child .breadcrums_slash {
  display: none;
}

.breadcrumps__link--active {
  color: pink;
  text-decoration: none;
}

.team__avatar-pic {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.team__avatar {

}